/* 
Palette de couleurs (Created by Snowy Owl):
    #272946 bleu sombre
    #eda031 jaune dorée
    #e7ffee cyan pale
*/

*{
    margin: 0px;
    padding: 0px;
    color: rgb(248, 233, 223);
    font-size: x-large;
}

body,aside,header,section{
    border-radius: 10px;
}

body{
    background-color: #272946;
}

aside{
    display: inline-block;
    position: fixed;
    font-size: xx-small;
    margin: 20px;
    width: 180px;
    background-color: #eda031;
    height: 90%;
    padding: 10px;
}
aside > section{
    margin-left: 20px;
    margin-bottom: 20px;
}

main{
    display: inline-block;
    width: 60%;
    min-width: 400px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 5%;
}

main > section{
    margin-top: 10px;
    margin-bottom: 20px;
    border: thick double #eda031;
    padding: 10px 10px 30px 10px;
}

header{
    background-color: #eda031;
    text-align: center;
    padding: 20px;
}
h1{    
    font-size: xx-large;    
}
h2{
    margin-bottom: 10px;
}
h3{
    margin: 20px 0px 10px 0px;
}
h4{
    font-size: smaller;
}
hr{
    color: #eda031;
    margin-bottom: 20px;
}

p, main > section > ul, li > ul, td{
    padding-left: 40px;
    font-size: small;
}

li{
    list-style-type : none;
    font-size: small;
}
table{
    width:80%;
}
td{
    width: 45%;
}
