/* 
Palette de couleurs (Created by Snowy Owl):
    #272946 bleu sombre
    #eda031 jaune dorée
    #e7ffee cyan pale
*/

*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: x-large;
}

body{
    background-color: #272946;
}

aside{
    display: inline-block;
    position: fixed;
    font-size: xx-small;
    margin: 20px;
    width: 20%;
    background-color: #eda031;
    height: 90%;
    padding: 10px;
}

main{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 5%;
}

section{
    margin-top: 20px;
    border-radius: 1px;
    border: thick double #eda031;
    padding: 10px 10px 30px 10px;
}

h1{
    background-color: #eda031;
    font-size: xx-large;
    padding: 20px;
}
h2{
    margin-bottom: 10px;
}
hr{
    color: #eda031;
    margin-bottom: 20px;
}
h3{
    margin-bottom: 10px;
}

p, section > ul, li > ul{
    padding-left: 40px;
}

p{
    font-size: small;
}
li{
    list-style-type : none;
    font-size: small;
}